.nav-link{
    color: rgb(204, 204, 204);
    font-size: large;
}
body{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(assets/i01_background.png);
    height: 500vh;
    color: white;
}
#home{
    margin-top: 100px;
    height: 80vh;
}
#home .logo{
    width: 20vw;
    min-width: 200px;
}

.fotbar{
    /* background-image: url(assets/FotbarPCC2.jpeg);
    background-size: cover; */
    text-align: center;
    min-height: 200px;
    max-height: 700px;
    width: 100%;
}
.fotbar img{
    opacity: 0.5;
}
.fotbar h1{
    position: absolute;
    z-index: 2;
    width: 100%;
    font-size: 4vw;
    margin-top: 16%;
    color: rgb(255, 255, 255);
}
.fotbar h3{
    position: absolute;
    z-index: 2;
    width: 100%;
    font-size: 2vw;
    margin-top: 20%;
    color: white;
}
.subTitle{
    background-color: #068FFF;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 10px 20px;
    border-radius: 30px;
}
#about .container p{
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}
/* #about .visi{
    fill-opacity: 0.5;
    padding: 50px;
} */
/* .visi span{
    position: relative;
    z-index: 2;
    margin-top: 0px;
    width: 50px;
    height: 50px;
    background-color: #068FFF;
    border: 1px solid #eee;
}
.visi h1{
    min-height: 500px;
} */
.tabel {
    background-color: rgba(25, 0, 95, 0.5);
    min-width: 100px;
    max-width: 450px;
    margin-top: 50px;
    color: white;
    border-radius: 50px;
    text-align: center;
    padding: 50px;
}
.card{
    background-color: transparent;
    width: fit-content;
    border: 0;
}
.event{
    width: 550px;
    margin-top: 50px;
    color: white;
    border-radius: 50px;
    text-align: center;
    padding: 50px;

}
.card-title{
    margin-left: 130px;
    margin-top: -75px;
    background-color: white;
    border-radius: 50px;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 50px;
    color: black;
    font-size: 30px;
    text-align: center;
    padding: 20px;
    width: 250px;
}
.visi{
    margin-top: 50px;
}
.card h4,li{
    font-size: 15px;
    font-weight: normal;
}
.card li{
    text-align: start;
}
#rectangle {
    margin-top: 500px;
    margin-left: 115px;
    width: 360px;
    height: 230px;
    border-radius: 50%;
    background: black;
    background-image: radial-gradient(black 55%, gray);
}
.team-member {
    text-align: center;
}
.team-member img {
    margin-top: -500px;
    margin-left: -70px;
}
.team-member h4 {
    margin-top: 10px;
    font-weight: normal;
}
.team-member h3 {
    font-weight: bold;
}
.btn {
    background-color: #068FFF;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    width: 200px;
    border-radius: 30px;
}
/* #about .visi .col{
    display: flex;
    min-width: 300px;
    min-height: 500px;
    align-items: center;
    padding: 50px;
    border-radius: 50px;
    margin-top: 20px;
    margin-left: 20px;
    margin: none;
} */
